	html {
		font-family: Ubuntu;
	}
	
	
	h1 {
		text-align: left;
		max-width: 100%;
		padding-top: 15px;
		margin: 0;
	}
	
	h2 {
		text-align: left;
		max-width: 100%;
		padding: 0;
	}

	body {
		background-color: white;
	}
	
	a , a:link, a:visited, a:active {
		target:"_blank";
		text-decoration:none;
		color:black;
		background-color:transparent;
	}
		
	#header{
		background-color:#005d9e;
		color:white;
		width:100%;
		/*height:128px;
		overflow: hidden;*/
	}
	
	#footer {
	    background-color:#005d9e;
	    color: white;
	    width:100%;
	    text-align: center;
	    height: 40px;
	    clear:both;
	    position: relative;
	    bottom:0;
	   	margin-top:50px;
	    padding-top:8px;
	    padding-bottom:8px;
	}
	
	/*img #logo{
		width:100px;
		height:100px;
		/*background-color:white;
		float:left;
		margin-right:40px;
	
	}*/
	
	ul#menu {
		list-style-type: none;
		padding: 0;
		margin: 0;
		overflow: hidden;
		margin-bottom: 25px;
		background-color: #0086e6;
}

	ul#menu li {
		display: inline;
		float: left;
		border-right:1px solid #bbb;
	
	}

	ul#menu li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
}

	ul#menu li a:hover:not(.active) {
		background-color: #004a80;
}

	.active {
		background-color: #005d9e;
}


	img {
		width:200px;
		height:200px;
		border: 0;
	}
	
	.servico, .app{
		width:250px;
		height:250px;
		padding:15px;
		margin:auto;
		text-align:center;
		font-size:125%;
		text-decoration: none;
		background-color:transparent;
	}
	
	.sep{
		clear:left;
	
	}	
	
	.servico:hover, .app:hover {
		opacity:0.80;
		-moz-opacity: 0.80;
		filter: alpha(opacity=80);
		color:#005d9e;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #b3dfff;
	    max-width: 500px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    padding: 12px 16px;
	    font-size:80%;
	}
	
	.app:hover .dropdown-content {
		text-align: left;
	    display: block;
	    color: black;
	}

	h3{
		float:left;
	}

	#logo{
		float:left;
		height: 35px;
		padding-right: 20px;
	}

